<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark justify-content-between" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
    </div>
    <div class="navbar-nav">    
        <p *ngIf="currentUser">Currently signed in as {{currentUser}}</p>        
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-md-1">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://github.com/DigitalAcademyGroupOfSeven" target="_top">Digital Academy - Group of Seven - GitHub </a>
    </p>
</div>