<h1>Hi {{currentUser.firstName}}!</h1>
<p>Welcome to your CV</p>

<div class="row">
    <div class="col-md-6">
        First Name: 
    </div>
    <div class="col-md-5">
        {{currentUser.firstName}}
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-6">
        Last Name: 
    </div>
    <div class="col-md-6">
        {{currentUser.lastName}}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        Email: 
    </div>
    <div class="col-md-6">
        {{currentUser.email}}
    </div>
</div>

<button class="btn btn-primary w-25" type="button" (click)="process()"></button>