<h1>Hi {{currentUser.firstName}}!</h1>
<p>Welcome to your CV</p>

<div *ngIf="currentUser.firstName" class="row">
    <div class="col-md-3">
        First Name: 
    </div>
    <div class="col-md-9">
        {{currentUser.firstName}}
    </div>
</div>
<div *ngIf="currentUser.lastName" class="row">
    <div class="col-md-3">
        Last Name: 
    </div>
    <div class="col-md-9">
        {{currentUser.lastName}}
    </div>
</div>
<div *ngIf="currentUser.email" class="row">
    <div class="col-md-3">
        Email: 
    </div>
    <div class="col-md-9">
        {{currentUser.email}}
    </div>
</div>
<div *ngIf="currentUser.skills.length" class="row">
    <div class="col-md-3">
        Skills: 
    </div>
    <div class="col-md-9">
        {{currentUser.skills.join(', ')}}
    </div>
</div>
<div *ngIf="currentUser.experience.length" class="row">
    <div class="col-md-3">
        Experience: 
    </div>
    <div class="col-md-9">
        {{currentUser.experience.join(', ')}}
    </div>
</div>
<div *ngIf="currentUser.mobile_number" class="row">
    <div class="col-md-3">
        Mobile number: 
    </div>
    <div class="col-md-9">
        {{currentUser.mobile_number}}
    </div>
</div>
<hr/>
<h2>actions</h2>
<div class="row">
    <div class="col-md-6">
        <p>Upload resume:</p>
    </div>
    
    <div class="col-md-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <button type="button" class="input-group-text upload" (click)="uploadFileToActivity()">Upload</button>
            </div>
            <div class="custom-file">
                <form>
                    <input type="file" id="file" class="custom-file-input" (change)="handleFileInput($event.target.files)" />
                </form>
                <label class="custom-file-label" for="file">{{SelectedFile}}</label>
            </div>
        </div>
    </div>
</div>