<h1>Hi {{currentUser.firstName}}!</h1>
<p>Welcome to your CV</p>

<div *ngIf="currentUser.firstName" class="row">
    <div class="col-md-3">
        First Name: 
    </div>
    <div class="col-md-9">
        {{currentUser.firstName}}
    </div>
</div>
<div *ngIf="currentUser.lastName" class="row">
    <div class="col-md-3">
        Last Name: 
    </div>
    <div class="col-md-9">
        {{currentUser.lastName}}
    </div>
</div>
<div *ngIf="currentUser.email" class="row">
    <div class="col-md-3">
        Email: 
    </div>
    <div class="col-md-9">
        {{currentUser.email}}
    </div>
</div>
<div *ngIf="(currentUser.skills && currentUser.skills.length)" class="row">
    <div class="col-md-3">
        Skills: 
    </div>
    <div class="col-md-9">
        {{currentUser.skills.join(', ')}}
    </div>
</div>
<div *ngIf="(currentUser.experience && currentUser.experience.length)" class="row">
    <div class="col-md-3">
        Experience: 
    </div>
    <div class="col-md-9">
        {{currentUser.experience.join(', ')}}
    </div>
</div>
<div *ngIf="currentUser.mobile_number" class="row">
    <div class="col-md-3">
        Mobile number: 
    </div>
    <div class="col-md-9">
        {{currentUser.mobile_number}}
    </div>
</div>
<hr/>
<h2>actions</h2>
<div class="row">
    <div class="col-md-6">
        <p>Upload resume:</p>
    </div>
    
    <div class="col-md-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <img *ngIf="uploadLoading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <button [disabled]="uploadLoading" type="button" class="input-group-text upload" (click)="uploadFileToActivity()">Upload</button>
            </div>
            <div class="custom-file">
                <form>
                    <input type="file" id="file" class="custom-file-input" (change)="handleFileInput($event.target.files)" />
                </form>
                <label class="custom-file-label" for="file">{{SelectedFile}}</label>
            </div>
        </div>
    </div>
</div>